/* Basic CSS for styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    text-align: center;
  }
  
  .form h2 {
    margin-bottom: 20px;
  }
  
  .input {
    margin-bottom: 15px;
    text-align: left;
  }
  
  .input label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input input {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 8px 20px;
    border: none;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    text-decoration: underline;
  }
  #profileUsername{
    font-size: 35px;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
  }
  