*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #123026;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#login div{
    width: 250px;
    height: 70px;
}
#login{
    width: 300px;
    height:400px;
    background-image:linear-gradient(90deg,white,#123026);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    margin-top: 50px;
    box-shadow: 2px 2px 5px black;
}
#login input{
    width: 90%;
    height: 50%;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
}
#login button{
    width: 60%;
    height: 7%;
    border: none;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    background-color: red;
}
#login h1{
    font-size: 20px;
}
p{
    font-size: 20px;
    font-weight: 400;
}